<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <th:block th:insert="~{/commons/style_js :: head}"></th:block>
  <link rel="stylesheet" th:href="@{/css/store/list.css}">
  <link rel="stylesheet" th:href="@{/css/commons/pagination.css}">
</head>
<body>
<header th:replace="~{/fragments/header :: header}"></header>
<section class="category">
  <ul>
    <li>
      <a href="">NEW</a>
    </li>
    <li class="active">
      <a href=""> 전체 상품</a>
    </li>
    <li>
      <a href="">책</a>
    </li>
    <li>
      <a href=""> 커버</a>
    </li>
    <li>
      <a href=""> 거치대</a>
    </li>
  </ul>
</section>

<section class="content-wrap">
  <main>
    <section class="list-box">
      <div class="list-box__grid">
        <!-- 반복요소 (10개)-->
        <article class="item">
          <a href=""><!--링크 수정-->
            <div class="item__img-box">
              <img th:src="@{/imgs/board/sample/sample01.jpg}" alt="">
            </div>
            <div class="item__info">
              <h6>Book Title</h6>
              <p>Author Name</p>
            </div>
          </a>
        </article>
        <!-- /반복요소 -->
        <!--샘플-->
        <article class="item">
          <a href=""><!--링크 수정-->
            <div class="item__img-box">
              <img th:src="@{/imgs/board/sample/sample01.jpg}" alt="">
            </div>
            <div class="item__info">
              <h6>Book Title</h6>
              <p>Author Name</p>
            </div>
          </a>
        </article>
        <article class="item">
          <a href=""><!--링크 수정-->
            <div class="item__img-box">
              <img th:src="@{/imgs/board/sample/sample01.jpg}" alt="">
            </div>
            <div class="item__info">
              <h6>Book Title</h6>
              <p>Author Name</p>
            </div>
          </a>
        </article>
        <article class="item">
          <a href=""><!--링크 수정-->
            <div class="item__img-box">
              <img th:src="@{/imgs/board/sample/sample01.jpg}" alt="">
            </div>
            <div class="item__info">
              <h6>Book Title</h6>
              <p>Author Name</p>
            </div>
          </a>
        </article>
        <article class="item">
          <a href=""><!--링크 수정-->
            <div class="item__img-box">
              <img th:src="@{/imgs/board/sample/sample01.jpg}" alt="">
            </div>
            <div class="item__info">
              <h6>Book Title</h6>
              <p>Author Name</p>
            </div>
          </a>
        </article>
        <article class="item">
          <a href=""><!--링크 수정-->
            <div class="item__img-box">
              <img th:src="@{/imgs/board/sample/sample01.jpg}" alt="">
            </div>
            <div class="item__info">
              <h6>Book Title</h6>
              <p>Author Name</p>
            </div>
          </a>
        </article>
        <article class="item">
          <a href=""><!--링크 수정-->
            <div class="item__img-box">
              <img th:src="@{/imgs/board/sample/sample01.jpg}" alt="">
            </div>
            <div class="item__info">
              <h6>Book Title</h6>
              <p>Author Name</p>
            </div>
          </a>
        </article>
        <article class="item">
          <a href=""><!--링크 수정-->
            <div class="item__img-box">
              <img th:src="@{/imgs/board/sample/sample01.jpg}" alt="">
            </div>
            <div class="item__info">
              <h6>Book Title</h6>
              <p>Author Name</p>
            </div>
          </a>
        </article>
        <!--/샘플-->
      </div>
    </section>
  </main>

  <!-- 페이징 영역 -->
  <section class="pagination">
    <div class="pagination-wrap">
      <ul class="page-ul">
        <li>
          <a href="" class="arrow">
            <img src="/imgs/board/icon/icon_arrow_page_l.png" alt="">
          </a>
        </li>

        <li class="active">
          <a href="">1</a>
        </li>
        <li>
          <a href="">2</a>
        </li>
        <li>
          <a href="">3</a>
        </li>
        <li>
          <a href="">4</a>
        </li>
        <li>
          <a href="">5</a>
        </li>

        <li>
          <a href="" class="arrow">
            <img src="/imgs/board/icon/icon_arrow_page_r.png" alt="">
          </a>
        </li>
      </ul>
    </div>
  </section>
  <!-- /페이징 영역 -->
</section>
<footer th:replace="~{/fragments/footer :: footer}"></footer>
</body>
</html>