main{
    margin-bottom: 100px;
}
.cart-wrap {
    width: 1200px;
    margin: 0 auto;
}

/* 상단 타이틀 */
.cart-title {
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    justify-content: space-between;
}

.page-on > span {
    font-weight: bold;
}

.cart-title > ol {
    display: flex;
    font-size: 16px;
    color: #d1d1d1;
    font-weight: bold;
    line-height: 62px;

}

.page-on {  /* 현제 페이지 표시 (장바구니)*/
    color: var(--strong-color);
}

.cart-title > ol img {
    padding: 0 14px;
}

/* 상품 리스트 테이블 */
.cart-list > table{
    collapse: collapse;
    border-spacing: 0;
    border: none;
    text-align: center;
}
.cart-list > table th{
    padding: 9px 10px 10px 10px;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #dbdbdb;
    background: #f7f7f7;
    font-weight: 400;
    font-size: 16px;
}



/* 상품/옵션 정보*/
.product-info{
    text-align: left;
}
.product-info__content{
    display: flex;
}

.product-info__content > span{
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-info img{
    border: 1px solid #dbdbdb;
    vertical-align: middle;
    width: 40px;
}

.product-info__box{
    padding-left: 10px;
}

.product-info__coupon img{
    width: 49px;
}

.product-info__detail{
    color: #333333;
}

/*상품 수량*/
.product-count__content strong{
    color: #333333;
    font-size: 15px;
    display: block;
}
.count-change-btn{
    cursor: pointer;
    border: 1px solid #dbdbdb;
    display: inline-block;
    margin-top: 5px;
    padding: 0 5px;
    background: linear-gradient(white, rgba(219, 219, 219, 0.22)) no-repeat;
}

.count-change-btn > span{
    line-height: 22px;
    font-size: 12px;
    padding: 0 5px;
}

/* 상품 금액 */
.product-price__content strong{
    color: #333333;
    font-size: 15px;
    font-weight: bold;
}

/* 할인 */
.product-sale__content strong{
    color: #333333;
    font-size: 15px;
    font-weight: bold;
}

/* 합계금액 */
.product-total-price__content{
    color: #333333;
    font-size: 15px;
    font-weight: bold;
}

/* 배송비 */
.delivery-charge__content{
    font-size: 15px;
}

/*=======상품 리스트 끝======*/

/*쇼핑 계속하기*/
.go-back{
    margin: 10px 0;
    display: inline-block;
    border-bottom: 1px solid #333333;
    /*font-family: ;*/
}

/* 총 가격 */
.cart-total{
    margin: 30px 0 0 0;
    padding: 20px 40px 25px 40px;
    border: 2px solid #d6d6d6;
}

.cart-total__price{
    display: flex;
    text-align: right;
    justify-content: flex-end;
    align-items: center;
}

.cart-total__price > div{
    margin: 10px 20px;
}

.cart-total__product span,
.cart-total__delivery span,
.cart-total__sum span{
    display: block;
}

.price-color{
    color: var(--main-color);
}

/* 하단의 버튼들 스타일 */
.btn-box{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.delete-btn{
    color: #484848;
    border: 1px solid #777777;
    min-width: 120px;
    height: 30px;
    padding: 0 15px;
    line-height: 28px;
    cursor: pointer;
}

.btn-list--right{
    display: flex;
}

.choice-order-btn,
.all-order-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;

    min-width: 180px;
    height: 55px;
    padding: 0 20px 0 20px;

    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
.choice-order-btn{
    color: #3e3d3c;
    border: 1px solid #cccccc;
    background: #fff;
}

.all-order-btn{
    color: #ffffff;
    border: 1px solid var(--main-color);
    background: var(--main-color);
}